@use '../../styles/settings/breakpoints' as b;

.c-feed {
    max-width: 600px;
    margin: 0 auto;
}

.c-feed-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    

    &__textarea {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-grow: 1;
        margin-left: 1em;
    }
}