@use '../../styles/settings/colors' as v;
@use '../../styles/settings/sizes' as s;

.c-simple-page {
    background-color: v.$secondary;

    &__main {
        min-height: 100vh;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: s.$header-height-xs 0 s.$footer-height 0;

        @media (min-width: 600px) {
            padding: s.$header-height-sd 0 s.$footer-height 0;
        }
    }
}