@use '../../../styles/settings/breakpoints' as b;

.c-invit-form {

    &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: b.$breakpoint-md) {
                flex-direction: row;
                align-items: flex-start;
        }
    }

    &__input {
        max-width: 400px;
        width: 100%;
        @media (min-width: b.$breakpoint-md) {
            max-width: none;
            flex: 1;
        }
    }

    &__button {
        flex-shrink: 0;
        height: 56px;
    }

    &__invit{
        text-align: center;
        @media (min-width: b.$breakpoint-md) {
            text-align: start;
        }
    }
}