@use '../../styles/settings/colors' as v;

.c-header { 
    height: 70px;
    border-bottom: v.$light-secondary;
    background-color: v.$white;

    &__toolbar {
        background-color: v.$white;   
    }
}