@use '../../styles/settings/colors' as v;

.c-footer {
    background-color: v.$light-primary;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 10vh;
    border-top: 1px solid v.$light-secondary;
    color: v.$light-secondary;

    &.text {
        text-align: center;
        padding: 0.5em;
    }
}