@use '../../styles/settings/colors' as v;
@use '../../styles/settings/sizes' as s;

.c-footer {
    background-color: v.$white;
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: s.$footer-height;
    border-top: 1px solid v.$dark-secondary;
    color: v.$dark-secondary;
    z-index: 1201;

    &__text {
        text-align: center;
        padding: 0.5em;
    }
}

.c-footerBtn {
    display: flex;
    justify-content: center;
}