

.c-organization-form{
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 80px auto 0 auto;

    &__text{
       justify-content: center;

    }
    &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
    }


}
