

.c-organization-form{
   
    justify-content: center;
    align-items: center;
    padding:10%;

    &__title{}

    &__text{
       justify-content: center;

    }
    &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00EBBD !important;
    
    }

    &__button{
        background-color: #00EBBD !important ;
        color: #6e7681 !important ;
      
    }

}