@use '../../styles/settings/colors' as v;
@use '../../styles/settings/sizes' as s;

.c-double-img {
    height: 100vh;
    padding-bottom: s.$footer-height;
    position: fixed;
    width:50%;

    &__left {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.c-double-main {
    min-height: 100vh; 
    padding: s.$header-height-sd 0 s.$footer-height 0;
    background-color: v.$secondary;

    @media (max-width: 600px) {
        padding: s.$header-height-xs 0 s.$footer-height 0;
    }
}