@use '../../styles/settings/breakpoints' as b;
@use '../../styles/settings/colors' as v;

.c-counter {
    display: flex;
    justify-content: space-between;
}

.c-card-post {
    padding: 0 0.5em;
    margin-bottom: 1.5em;
    border:1px solid v.$secondary;
    

    @media (max-width: b.$breakpoint-sm) {
        padding: 0  
    }

    &__text {
        overflow-wrap: break-word; 
    }

    &__action {
        padding: 8px 16px !important;
    }

    &__list {
        padding: 0 16px !important;
    }
}

