@use '../../styles/settings/breakpoints' as b;
@use '../../styles/settings/colors' as c;

.c-counter {
    display: flex;
    justify-content: space-between;

    &__btn {
        text-transform: lowercase !important;
        padding: 0 !important;
        color: c.$light-secondary !important;
        font-weight: 400 !important;

        &:hover,
        &:focus,
        &:active {
            background-color: c.$white !important;
        }
        
    }
}

.c-card-post {
    padding: 0 0.5em;
    margin-bottom: 1.5em;
    border:1px solid c.$secondary;

    @media (max-width: b.$breakpoint-sm) {
        padding: 0  
    }

    &__text {
        overflow-wrap: break-word; 
    }
    &__identity {
        display: inline;
        @media (max-width: b.$breakpoint-sm) {
            display:block;
        }
    }
    &__separator {
        display: inline;
        @media (max-width: b.$breakpoint-sm) {
            display:none;
        }
        }
    &__date {
        display: inline;  
    }
    &__action {
        padding: 8px 16px !important;
    }
    &__loader{
        margin: 20px;
        text-align: center;
    }
    
}

.MuiCardHeader-content {
    min-width: 0;
}
