@use '../../styles/settings/breakpoints' as b;
@use '../../styles/settings/sizes' as s;
@use '../../styles/settings/colors' as c;

.c-main {
    

    &__authenticated {
        min-height: 100vh;
        padding: s.$header-height-xs 0 s.$footer-height 0;
        background-color: c.$secondary;

        @media (min-width: 600px) {
            padding: s.$header-height-sd 0 s.$footer-height 0;
        }
    }
}

.c-box-children {
    padding-left: 0;
    

    @media (min-width: b.$breakpoint-sm) {
        padding-left: 240px;
    }
}