@use '../../../styles/settings/colors' as colors;

.c-user-card {

    &__info {
        width: 100%;
    }

    &__identity {
        overflow-wrap: break-word;
    }

    &__job{
        color: colors.$light-secondary;
        text-align: center;
        overflow-wrap: break-word;
    }
}