@use '../../styles/settings/breakpoints' as b;
@use '../../styles/settings/sizes' as s;

.c-reaction-post{

        

   
    &__image{
        
        width: 20px;
        padding:0px;
        margin:0px;


        @media (min-width: b.$breakpoint-md) {
            width:20px;
        }
     } }
