@use '../../styles/settings/breakpoints' as b;
@use '../../styles/settings/sizes' as s;
@use '../../styles/settings/colors' as c;

.c-reaction-post{

    &__button {
        text-transform: lowercase !important;
        padding: 0 !important;
        color: c.$light-secondary !important;
        font-weight: 400 !important;

        &:hover,
        &:focus,
        &:active {
            background-color: c.$white !important;
        }
    }

    &__info-emoji {
        text-decoration: none;
    }

    &__text {
        font-weight: 500 !important;
        color: c.$dark-secondary;
        transition: color 0.2s, text-decoration 0.2s;

        &:hover,
        &:focus {
            color: c.$dark-primary;
            text-decoration: underline;
        }
    }    

   
    &__image{
        
        width: 20px;
        padding:0px;
        margin:0px;


        @media (min-width: b.$breakpoint-md) {
            width:20px;
        }
     } 
    
     
}
