@use '../../../styles/settings/colors' as v;

.c-logoContent {
    display: flex;
    justify-content: flex-end;

    &.icon {
        font-size: 2.5em;
        color: v.$light-secondary;
    }

    &.name {
        font-size: 2rem;
        margin-left: 0rem;
        color: v.$light-secondary;
    }
}